- name: copy dotfiles
  become_user: "{{ item.name }}"
  copy:
    src: files/
    dest: "/home/{{ item.name }}/"
  loop: "{{ users }}"

- name: set executable permissions for files in ~/.local/bin
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/.local/bin"
    mode: a+x
    recurse: yes
  loop: "{{ users }}"

- name: .config/gtk-3.0 directory
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/.config/gtk-3.0"
    state: directory
  loop: "{{ users }}"

- name: .config/alacritty directory
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/.config/alacritty"
    state: directory
  loop: "{{ users }}"

- name: .config/bspwm directory
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/.config/bspwm"
    state: directory
  loop: "{{ users }}"

- name: .config/sxhkd directory
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/.config/sxhkd"
    state: directory
  loop: "{{ users }}"

- name: .bashrc
  become_user: "{{ item.name }}"
  template:
    src: .bashrc.j2
    dest: "/home/{{ item.name }}/.bashrc"
  loop: "{{ users }}"

- name: .gtkrc-2.0
  become_user: "{{ item.name }}"
  template:
    src: .gtkrc-2.0.j2
    dest: "/home/{{ item.name }}/.gtkrc-2.0"
  loop: "{{ users }}"

- name: gtk-3 settings.ini
  become_user: "{{ item.name }}"
  template:
    src: settings.ini.j2
    dest: "/home/{{ item.name }}/.config/gtk-3.0/settings.ini"
  loop: "{{ users }}"

- name: .Xresources
  become_user: "{{ item.name }}"
  template:
    src: .Xresources.j2
    dest: "/home/{{ item.name }}/.Xresources"
  loop: "{{ users }}"

- name: chromium-flags.conf
  become_user: "{{ item.name }}"
  template:
    src: chromium-flags.conf.j2
    dest: "/home/{{ item.name }}/.config/chromium-flags.conf"
  loop: "{{ users }}"

- name: alacritty.yml
  become_user: "{{ item.name }}"
  template:
    src: alacritty.yml.j2
    dest: "/home/{{ item.name }}/.config/alacritty/alacritty.yml"
  loop: "{{ users }}"

- name: sxhkdrc
  become_user: "{{ item.name }}"
  template:
    src: sxhkdrc.j2
    dest: "/home/{{ item.name }}/.config/sxhkd/sxhkdrc"
  loop: "{{ users }}"

- name: bspwmrc
  become_user: "{{ item.name }}"
  template:
    src: bspwmrc.j2
    dest: "/home/{{ item.name }}/.config/bspwm/bspwmrc"
  loop: "{{ users }}"
  loop_control:
    index_var: user_idx
  vars:
    user_idx: "{{ user_idx }}"

- name: set executable permission for .config/bspwm/bspwmrc
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/.config/bspwm/bspwmrc"
    mode: a+x
  loop: "{{ users }}"

- name: create vim plug directory
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/.local/share/nvim/site/autoload"
    state: directory
  loop: "{{ users }}"

- name: download vim plug
  become_user: "{{ item.name }}"
  get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: "/home/{{ item.name }}/.local/share/nvim/site/autoload/plug.vim"
  loop: "{{ users }}"

- name: create Screenshots directory
  become_user: "{{ item.name }}"
  file:
    path: "/home/{{ item.name }}/Screenshots"
    state: directory
  loop: "{{ users }}"
