#
# ~/.bashrc
#
export PATH=~/.cargo/bin:/usr/local/bin:~/.bin:$PATH

source /usr/share/git/completion/git-prompt.sh
export PS1='\W$(__git_ps1)› '

set -o vi

export VISUAL=nvim
export EDITOR="$VISUAL"

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

export FZF_DEFAULT_COMMAND='fd --type f'
export PASSWORD_STORE_CLIP_TIME='10'
export VIRSH_DEFAULT_CONNECT_URI=qemu:///system

#export GDK_SCALE={{ screen.scale }}
#export GDK_DPI_SCALE={{ screen.scale }}

export GOPATH=~/.go

x() {
  exit
}

l() {
  exa -la $@
}

d() {
  git diff --name-only --diff-filter=d | xargs bat --diff
}

ac() {
  git add .
  git commit -a -m "$1"
}

p() {
  if [ -z "$1" ]; then
    git push
  else
    git push origin $1
  fi
}

acp() {
  ac "$1"
  p
}

s() {
  startx -- -ardelay 200 -arinterval 30
}

init_nvm() {
  source /usr/share/nvm/init-nvm.sh
}
