#
# ~/.bashrc
#
export PATH=/usr/local/bin:$PATH

source /usr/share/git/completion/git-prompt.sh
export PS1='\W$(__git_ps1)› '

set -o vi

export VISUAL=nvim
export EDITOR="$VISUAL"

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias x='exit'

export FZF_DEFAULT_COMMAND='fd --type f'
export PASSWORD_STORE_CLIP_TIME='10'
export VIRSH_DEFAULT_CONNECT_URI=qemu:///system

#export GDK_SCALE={{ screen.scale }}
#export GDK_DPI_SCALE={{ screen.scale }}

d() {
  git diff --name-only --diff-filter=d | xargs bat --diff
}

l() {
  git add .
  git commit -a -m "$1"
}

p() {
  if [ -z "$1" ]; then
    git push
  else
    git push origin $1
  fi
}
