#!/bin/sh
if [ $(bluetoothctl show | grep "Powered: yes" | wc -c) -eq 0 ]
then
  echo "%{F{{ colors.ui.gray }}}󰂲%{F-}"
else
  ALIAS=$(echo info | bluetoothctl | grep -Po 'Alias: \K.+')
  if [[ $ALIAS ]]
  then 
    echo "%{F{{ colors.normal.blue }}}󰂱%{F-} "$ALIAS
  else
    echo "%{F{{ colors.normal.blue }}}󰂯%{F-}"
  fi
fi
