#! /bin/sh

polybar top &

xsetroot -cursor_name left_ptr &

feh --bg-fill ~/Images/wallpaper-{{ user_idx }}.jpg &

picom --config ~/.config/picom/picom.conf &

sxhkd &

bspc monitor -d dev tty www im vm srv media base game etc

bspc config border_width         1
bspc config window_gap           4

bspc config focused_border_color  "#4f5563"
bspc config normal_border_color   "#000000"
bspc config split_ratio           0.52
bspc config borderless_monocle    true
bspc config gapless_monocle       true

bspc rule -a Emacs state=tiled
