- name: create directory for aur packages
  become_user: "{{ users[0].name }}"
  file:
    path: "/home/{{ users[0].name }}/Aur"
    state: directory

- name: clone Polybar
  become_user: "{{ users[0].name }}"
  git:
    repo: https://aur.archlinux.org/polybar.git
    dest: "/home/{{ users[0].name }}/Aur/polybar"

- name: clone Telegram
  become_user: "{{ users[0].name }}"
  git:
    repo: https://aur.archlinux.org/telegram-desktop-bin.git
    dest: "/home/{{ users[0].name }}/Aur/telegram"

- name: clone Code
  become_user: "{{ users[0].name }}"
  git:
    repo: https://aur.archlinux.org/visual-studio-code-bin.git
    dest: "/home/{{ users[0].name }}/Aur/code"

- name: clone Dropbox
  become_user: "{{ users[0].name }}"
  git:
    repo: https://aur.archlinux.org/dropbox.git
    dest: "/home/{{ users[0].name }}/Aur/dropbox"

- name: clone Obsidian
  become_user: "{{ users[0].name }}"
  git:
    repo: https://aur.archlinux.org/obsidian-appimage.git
    dest: "/home/{{ users[0].name }}/Aur/obsidian"

- name: clone pulseaudio-modules-bt
  become_user: "{{ users[0].name }}"
  git:
    repo: https://aur.archlinux.org/pulseaudio-modules-bt.git
    dest: "/home/{{ users[0].name }}/Aur/pulseaudio-modules-bt"
